@import "../../App.scss";

.footer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 70px;
  position: relative;
  z-index: 999;
  transition: $transition;

  .navbar-brand-text {
    margin-left: 5px;
  }
  .navbar-search-btn {
    margin-right: 12px;
  }
  .social-icons {
    margin-top: 8px;
    gap: 10px;
  }

  h5 {
    font-size: 20px;
  }
}
